ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.columnMiddle {
    float: left;
    width: 30%;
    padding: 15px;
}
.column {
    float: left;
    width: 26%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
body {
  width: 100%;
  margin: 0;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
